/* MDC data table css */
.mdc-data-table {
  width: 100%;
  position: relative;
}
.mdc-data-table .mdc-data-table__cell, .mdc-data-table__header-cell {
  vertical-align: middle;
}
.mdc-data-table__visible-cell {
  overflow: visible !important;
}
.mdc-data-table__cell .form-item, .mdc-data-table__header-cell .form-item {
  width: 100%;
}
.mdc-data-table__cell .form-item {
  margin: 0;
}
.mdc-data-table__cell, .mdc-data-table__header-cell.mdc-data-table__header-cell--checkbox label {
  font-weight: 500;
}
.mdc-data-table .tabledrag-toggle-weight-wrapper {
  position: absolute;
  right: 25px;
  margin-top: -48px;
  text-transform: uppercase;
}
.mdc-data-table .sticky-header {
  display: block;
  border-left: 1px solid rgba(0, 0, 0, .12);
}
.mdc-data-table .sticky-header:before {
  margin-top: -24px;
  display: block;
  content: '';
  width: 100%;
  height: 24px;
  background-color: #fff;
}

.mdc-data-table__header-cell a {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  justify-content: flex-end;
}
.mdc-data-table__header-cell a:hover {
  text-decoration: none;
}
