/* MDC data select css */
.dust-mdc-select select {
  position: absolute;
  z-index: -1 !important;
  height: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: none;
  background: transparent;
  color: transparent;
}
