.mdc-card__primary {
  padding: 1rem;
}
.mdc-card__secondary {
  padding: 0 1rem 8px;
}

.mdc-tab-bar--content {
  display: none;
  padding-top: 24px;
}

.mdc-tab-bar--content.active {
  display: block;
}

.mdc-select .mdc-select__menu {
  min-width: 200px;
}

.dust-textfield {
  position: relative;
}

.dust-textfield #autocomplete {
  border: none;
  overflow: auto;
  width: 100%;
}

.dust-textfield #autocomplete .mdc-list {
  padding: 8px 0;
}

.dust-textfield #autocomplete .mdc-list .mdc-list-item {
  cursor: pointer;
}

.dust-textfield #autocomplete .mdc-list .mdc-list-item.selected::before {
  opacity: .04;
}

.dust-textfield #autocomplete .mdc-list .mdc-list-item .mdc-list-item__graphic {
  margin-left: 0;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.dust-textfield #autocomplete .mdc-list .mdc-list-item .mdc-list-item__text {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.mdc-select .mdc-select__menu .mdc-list-item > i.material-icons,
.mdc-select .mdc-select__selected-text > i.material-icons {
  display: inline;
  vertical-align: middle;
  margin-right: 16px;
}
.mdc-select__selected-text.no-label {
  padding-top: 14px;
  padding-bottom: 10px;
}

.container-inline div.mdc-menu-surface {
  display: none;
}

.container-inline div.mdc-menu-surface--open {
  display: inline-block;
}

.mdc-select .mdc-select__menu .mdc-list-item {
  white-space: nowrap;
}

.mdc-chip.mdc-ripple-upgraded--background-focused .mdc-chip__ripple::before,
.mdc-chip.focused .mdc-chip__ripple::before {
  transition-duration: 75ms;
  opacity: .12;
}

.mdc-text-field.mdc-text-field--textarea:not(.mdc-text-field--no-label) textarea::placeholder {
  opacity: 0;
}
.mdc-text-field.mdc-text-field--textarea:not(.mdc-text-field--no-label) textarea::-webkit-input-placeholder {
  opacity: 0;
}
.mdc-text-field.mdc-text-field--textarea:not(.mdc-text-field--no-label) textarea::-moz-placeholder {
  opacity: 0;
}
.mdc-text-field.mdc-text-field--textarea:not(.mdc-text-field--no-label) textarea:-ms-input-placeholder {
  opacity: 0;
}
.mdc-text-field.mdc-text-field--textarea.mdc-text-field--focused textarea::placeholder {
  opacity: 1;
}
.mdc-text-field.mdc-text-field--textarea.mdc-text-field--focused textarea::-webkit-input-placeholder {
  opacity: 1;
}
.mdc-text-field.mdc-text-field--textarea.mdc-text-field--focused textarea::-moz-placeholder {
  opacity: 1;
}
.mdc-text-field.mdc-text-field--textarea.mdc-text-field--focused textarea:-ms-input-placeholder {
  opacity: 1;
}
